.header_big h1{
    padding: 30px;
    background-color:rgba(0, 0, 0, 0.555);
    color:white;
}

.header_big .img_Main .col-6 img{
    width: 50%;
    height: 300px;
    display: block;

}



.img_Main{
    width: 90%;
    margin: auto;
}



.header_big {
    background-image: url(./img/background.jpg);
    height: 600px;
    width: 100%;
    background-repeat: no-repeat;
    background-size:cover;
    position: relative;
}



.glass_Demo img{
    width: 12%;
    height: 50px;
    top:32%;
    left:12.5%;
    position: absolute;
    background-color: transparent;
    color: transparent;
    opacity: 0.7;
}

.glass_left{
    position: relative;
}

.infoAboutGlass{
    position: absolute;
    width: 48%;
    height:120px;
    top:60%;
    left:2.5%;
    background-color:rgba(206, 83, 34, 0.164);
    
}

.infoGlass2{
    position: absolute;
    right:10%;
    top:0;
}

.type_Glass{
    display: flex;
    margin-top:20px;
    width: auto;
}

.type_Glass img{
    width: 11.2%;
    display: block;
    height: 90px;
    justify-content: space-between;
    opacity: 0.9;
    
}